// 文章背景阴影效果
 article {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

// 代码块样式
code {
    color: #ff9900;
    background: white;
    border-radius: 3px;
}

// 菜单栏
.menu .menu-item a {
    font-size: 15px;
    /*color: #4a86e8;*/
    &:hover { background: Black; color: white;}
}

// footer背景透明
.footer {
    background: transparent;
    font-size: 15px;
}

// header背景透明
.header {
    background: transparent;
}

/*// 站点描述
.site-description {
    color: #0593d3;
}*/

// 站点标题
.site-title {
/*    color: #4a86e8;
*/
  &:hover { color: Black;}
}

// 阅读全文
/*.btn {
  color: #ff00ff;
}*/

// 友情链接
/*.links-of-blogroll-title {
    color: #ff33cc;
}*/

// 文章内链接文本样式
.post-body p a{
  /*color: #4a86e8;*/
  border-bottom: none;
  border-bottom: 1px solid #4a86e8;
  &:hover {
    color: #ff9900;
  }
}